body {
    font-family: 'Open Sans', sans-serif;
}

.avatar {
  border-radius: 50%;
  width: 100%;
}

a, h2 {
  color: #1884BB;
}

h2, h3 {
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.l-box {
  padding: 1.5em;
}

.social {
  list-style: none;
  padding: 0;
}

.social li {
  display: inline-block;
  padding: 3%;
}


.fa {
  background-color: white;
  color: #1884BB;
  padding: 15px;
  border-radius: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transform: all 0.5s;
}

.social li:hover .fa {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
}


.sidebar {
  text-align: center;
  background-color: #1884BB;
  color: white;
}

.title-bar {
  background-color: #1884BB;
}

.title-bar a {
  color: white;
  text-decoration: none;
}

.post a.title {
  color: #1884BB;
  text-decoration: none;
  text-transform: uppercase;
}

.post h3 {
  color: #1884BB;
}

pre {
  background-color: #eee;
  font-size: 13px;
  padding: 20px;
}

code {
    font-family: Consolas, Monaco, "Courier New" !important;
}

.date, .meta {
  color: #aaa;
  font-style: italic;
  font-size: 14px;
}

.post {
  border-bottom: 1px solid #ddd;
}

.post img {
  width: 100%;
}

p {
  line-height: 1.6;
  color: #777;
  font-size: 1.125em;
}

.sidebar p {
  color: white;
}

.read-more {
    text-align: right;
}

.read-more a {
    font-size: 12px;
    text-decoration: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */