---
layout: default
keywords: javascript, ember, ember data, web development, testing, elixir, ember.js, EmberJS, es6, node.js, node
---

<div class="flex justify-center flex-wrap">
  {% for post in paginator.posts %}
    {% unless post.active == "off" %}
    <div class="post p-1 m-1">
      <div class="flex justify-between items-center">
        <img
          src="/images/{{post.image}}{% if post.image_extension %}{{post.image_extension}}{% else %}-logo.png{% endif %}"
          alt="{{post.image}} logo"
          class="post-thumbnail">
        <span class="date">
          {% if post.last_modified_at %}
            {{post.last_modified_at | date: "%B %e, %Y"}}
          {% else %}
            {{post.date | date: "%B %e, %Y"}}
          {% endif %}
        </span>
      </div>
      <h2>
        <a href="{{post.url}}">{{post.title}}</a>
      </h2>
      <p>
        {{post.description}}
      </p>
    </div>
    {% endunless %}
  {% endfor %}
</div>

{% include footer.html %}
