.bb-0 {
  border-bottom: 0;
}

.bt-0 {
  border-top: 0;
}

.b-1 {
  border: 1px solid #ddd;
}

.bb-1 {
  border-bottom: 1px solid #ddd;
}

.br-1 {
  border-right: 1px solid #ddd;
}

.bl-1 {
  border-left: 1px solid #ddd;
}
