.flex {
  display: flex;
}

.flex-wrap	{
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center	{
  justify-content: center;
}

.justify-around	{
  justify-content: space-around;
}

.items-center	{
  align-items: center;
}