.p-0 {
  padding: 0;
}

.pr-0 {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.p-1 {
  padding: 1.5em;
}

.pr-1 {
  padding-right: 15px;
}

.pl-1 {
  padding-left: 15px;
}

.pt-1 {
  padding-top: 15px;
}

.pb-1 {
  padding-bottom: 15px;
}