<a href="https://leanpub.com/emberdatainthewild" target="_blank">
  <img
    src="/images/ember-data-in-the-wild-octane-edition.jpg"
    alt="Ember Data in the Wild book cover"
    style="width: 200px; float: left; margin-right: 20px;"
  />
</a>

<p>
  Have a custom API that you aren't sure how to use with Ember Data? Interested
  in writing your own adapter or serializer? Want to just know more about how
  Ember Data works? Check out my book
  <a href="https://leanpub.com/emberdatainthewild" target="_blank">
    Ember Data in the Wild - Getting Ember Data to Work With Your API </a
  >.
</p>

<br style="clear: both;" />
