<ul class="flex justify-around no-bullets p-0 mt-1">
  {% if paginator.previous_page %}
    <li>
      {% if paginator.previous_page == 1 %}
        <a href="{{ site.BASE_PATH }}/">&larr; Newer</a>
      {% else %}
        <a href="{{ site.BASE_PATH }}/page{{ paginator.previous_page }}">&larr; Newer</a>
      {% endif %}
    </li>
  {% else %}
    <li class="disabled">
      &larr; Newer
    </li>
  {% endif %}

  <li>
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </li>

  {% if paginator.next_page %}
    <li>
      <a href="{{ site.BASE_PATH }}/page{{ paginator.next_page }}">Older &rarr;</a>
    </li>
  {% else %}
    <li class="disabled">
      Older &rarr;
    </li>
  {% endif %}
</ul>
