<div class="about-vegan">
  <p>
    If you are reading this, please watch

    <a href="http://bit.ly/2ynL4Ds" target="_blank">
      The Best Speech You Will Ever Hear by Gary Yourofsky
    </a>

    and consider

    <a
      href="https://challenge22.com/"
      target="_blank"
      title="Join thousands of participants for a 22-day vegan experience. FREE!">
      going vegan
    </a>.

    If you are not vegan, then you are contributing to the needless suffering,
    slaughter, and exploitation of trillions of animals per year.
  </p>
  <p>
    We don't need to eat animals or their secretions (milk and eggs) to survive
    or be healthy. We don't need to experiment on them to make sure products
    are safe to use. We don't need to wear their skin or their fur to stay warm.
    Even if you were tricked into believing that free-range, cage-free, or
    grass-fed animals lived a good life, they were still slaughtered when they
    didn't want to die in order to end up on your plate. How can we morally
    justify exploiting animals when we don't need to? Is our taste worth more
    than their life? Why would we choose to support systematic cruelty when we
    don't have to?
  </p>
  <p>
    I encourage everyone to also watch
    <a href="http://bit.ly/2LSRumI" target="_blank">Dominion</a>. This documentary
    covers what animals go through because humans choose to exploit them.
    Many people turn away from seeing these types of videos. Before deciding not
    to watch this, ask yourself, if seeing how animals are raised and slaughtered
    isn't good enough for our eyes, how is it good enough for your stomach?
  </p>
  <p>
    If this makes you feel sad, angry, guilty, or uncomfortable, I know how you
    feel. I felt the same way when I learned about all of the ways animals were
    exploited on my behalf. I found that going vegan wasn't as hard as I had thought, and by doing so,
    I cleared my conscious because I aligned my actions with my values of being
    against animal cruelty. I only wish I had gone vegan sooner.
  </p>
  <!-- <p>
    This is systemized cruelty on a massive scale, and
    we only get away with it because everyone is prepared to look the other way.
  </p> -->
  <p>
    This is a picture of me giving water to a pig moments before slaughter in
    Downtown Los Angeles at the Farmer John Slaughterhouse.
  </p>
  <img
    src="/images/pig-vigil.jpg"
    alt="picture of me giving water to a pig moments before slaughter">
</div>
