<!-- Begin MailChimp Signup Form -->
<div class="mc_embed_signup">
  <form action="//thejsguy.us9.list-manage.com/subscribe/post?u=acfcb9a9fd24548109f2b65b4&amp;id=0e2cd62c9c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div>
      <h3 class="text-center pb-0 mb-0">Subscribe</h3>
      <div class="mc-field-group">
        <label for="mce-EMAIL-2">Email Address</label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL-2">
      </div>
      <div class="mc-field-group">
        <label for="mce-FNAME-2">First Name </label>
        <input type="text" value="" name="FNAME" class="" id="mce-FNAME-2">
      </div>
      <div class="mc-field-group">
        <label for="mce-LNAME-2">Last Name </label>
        <input type="text" value="" name="LNAME" class="" id="mce-LNAME-2">
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_acfcb9a9fd24548109f2b65b4_0e2cd62c9c" tabindex="-1" value=""></div>
      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="width: 100%;"></div>
    </div>
  </form>
</div>
