<h3 class="block-title">Other Places You Can Find Me</h3>
<ul class="guest-posts">
  <li>
    <span class="date d-block">5/30/2017 on eng.vdms.io</span>
    <a href="https://eng.verizondigitalmedia.com/2017/05/30/from-angular-to-ember/" target="_blank">
      From Angular to Ember at Verizon Digital Media Services
    </a>
  </li>
  <li>
    <span class="date d-block">5/24/2017 on sitepoint.com</span>
    <a href="https://www.sitepoint.com/premium/courses/test-driven-development-in-node-js-2932/?aref=dtang" target="_blank">
      Test-Driven Development in Node.js Video Course
    </a>
  </li>
  <li>
    <span class="date d-block">1/12/2016  on codementor.io</span>
    <a href="https://www.codementor.io/javascript/tutorial/javascript-testing-framework-comparison-jasmine-vs-mocha" target="_blank">
      JavaScript Testing Framework Comparison: Jasmine vs Mocha
    </a>
  </li>
  <li>
    <span class="date d-block">11/26/2015  on codementor.io</span>
    <a href="https://www.codementor.io/nodejs/tutorial/unit-testing-tdd-node-js-nockjs-part-2" target="_blank">
      Unit Testing &amp; TDD in Node.js – Part 2
    </a>
  </li>
  <li>
    <span class="date d-block">11/16/2015  on codementor.io</span>
    <a href="https://www.codementor.io/nodejs/tutorial/unit-testing-nodejs-tdd-mocha-sinon" target="_blank">
      Unit Testing &amp; TDD in Node.js – Part 1
    </a>
  </li>
  <li>
    <span class="date d-block">10/30/2015 on codementor.io</span>
    <a href="https://www.codementor.io/ember-js/tutorial/testing-emberjs-with-ember-cli" target="_blank">
      Testing in Ember with Ember CLI
    </a>
  </li>
</ul>
