<hr>

<a href="https://leanpub.com/emberdatainthewild" target="_blank">
  <img src="/images/ember-data-in-the-wild.jpg" style="width: 200px; float: left; margin-right: 20px;">
</a>

<h3 style="color: #36a582;">Ember Data in the Wild Book Released!</h3>

<strong>Interested in learning more about Ember Data and how to use it with any API?</strong> I have just released my book <a href="https://leanpub.com/emberdatainthewild" target="_blank">Ember Data in the Wild - Getting Ember Data to Work With Your API</a>. Grab a copy on Leanpub!

<br style="clear: both;">
