blockquote,
body,
li,
p {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
li,
p {
    line-height: 1.8;
    color: $text;
    font-size: 1.125em;
}
blockquote {
    font-size: 21px;
    font-weight: 200;
    font-style: italic;
    line-height: 1.5;
}
blockquote p {
    color: #999;
}
pre {
    background-color: $bg1;
    font-size: 15px;
    padding: 20px;
    border-radius: 5px;
}
code {
    font-family: Consolas, Monaco, "Courier New" !important;
    background-color: $bg1;
    padding: 3px 5px;
}
ol,
ul {
    margin: 30px inherit;
}
li ul {
    margin-top: 0;
    margin-bottom: 0;
}
li li {
    font-size: 1em;
}
a,
h2 {
    color: $primary;
    font-weight: lighter;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
