body {
    font-family: 'Open Sans', sans-serif;
}

p, li {
  line-height: 1.6;
  color: $text;
  font-size: 1.125em;
}

blockquote {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 21px;
  font-weight: 200;
  font-style: italic;
}

blockquote p {
  color: #999;
}

pre {
  background-color: #eee;
  font-size: 17px;
  padding: 20px;
  border-radius: 5px;
}

code {
    font-family: Consolas, Monaco, "Courier New" !important;
}

ul, ol {
  margin: 30px inherit;
}

li ul {
  margin-top: 0;
  margin-bottom: 0;
}

li li {
  font-size: 1em;
}

a, h2 {
  color: $primary;
}

h2, h3 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}