h1 {
  color: $primary;
}

.logo {
  color: #1884BB;
  text-transform: uppercase;
  font-size: 1em;
}

.sticky-header {
  background-color: $bg1;
  width: 100%;
  z-index: 100;

  h1, p {
    margin: 0;
    padding: 0;
  }

  a, p {
    color: white;
  }
}

.avatar {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.l-box {
  padding: 1.5em;
}

.social {
  list-style: none;
  padding: 0;
}

.social li {
  display: inline-block;
  padding: 1.5%;
  margin-bottom: 5px;
}

.fa {
  background-color: $primary;
  color: $sidebarbg;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transform: all 0.5s;
}

.social li:hover .fa {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
}

.sidebar {
  text-align: center;
  background-color: $sidebarbg;
  color: $sidebartext;
}

.title-bar a {
  color: white;
  text-decoration: none;
}

.post a.title {
  color: $primary;
  text-decoration: none;
  /* text-transform: uppercase; */
}

.post h3 {
  color: #2e3137;
}

.date, .meta {
  color: #aaa;
  font-style: italic;
  font-size: 14px;
}

.post {
  border-bottom: 1px solid #ddd;
}

.post img {
  width: 100%;
}

.read-more {
    text-align: right;
}

.read-more a {
    font-size: 12px;
    text-decoration: none;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* close commented backslash hack */

.categories {
  list-style-type: none;
  padding: 0;
}

.categories li {
  display: inline-block;
  text-decoration: none;
  background: $bg1;
  color: white;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 13px;
}

.pager {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

.pager li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.pager .disabled a {
  color: #aaa;
  font-style: italic;
}

.pager .disabled a:hover {
  color: #aaa;
  font-style: italic;
  text-decoration: none;
}

.content {
  background-color: white;
}

.block-title {
  color: $bg1;
  margin-top: 40px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: lighter;
}

.guest-posts {
  text-align: left;
  list-style-type: none;
  padding: 0;

  .date {
    display: block;
    font-size: 85%;
  }

  li {
    border-bottom: 1px solid #ccc;
    padding: 7px;
    font-size: 90%;
  }

  li:last-child {
    border-bottom: 0;
  }
}

.guest-posts a:hover {
  text-decoration: none;
}

.side-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
