/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
div.mc_embed_signup input {
  border: 1px solid #ABB0B2;
}

div.mc_embed_signup .button {
  background-color: $primary;
  border: 0;
  color: #FFFFFF;
  height: 32px;
  line-height: 32px;
  text-align: center;
  vertical-align: top;
}

div.mc_embed_signup .mc-field-group {
  margin-bottom: 15px;
  min-height: 50px;
}

div.mc_embed_signup .mc-field-group label {
  display: block;
  margin-bottom: 5px;
}

div.mc_embed_signup .mc-field-group input {
  width: 100%;
  padding: 8px 0;
  text-indent: 2%;
}