.logo {
  text-transform: uppercase;
  font-size: 1em;
}

.avatar {
  max-width: 200px;
}

.pure-g > div {
  box-sizing: border-box;
}

.social-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 10px;
  color: $sidebarbg;
  transition: all 0.5s;
}

.sidebar {
  color: $sidebartext;
}

.date, .meta {
  color: #aaa;
  font-size: 16px;
}

.guest-posts {
  .date {
    font-size: 85%;
  }

  li {
    font-size: 90%;
  }
}

.equation {
  color: $primary;
  font-family: Consolas, Monaco, "Courier New" !important;
}

.highlighter-rouge ~ h2 {
  margin-top: 35px;
}

.post {
  width: 300px;

  img.post-thumbnail {
    width: 50px;
  }

  h2 a {
    font-size: 0.8em;
  }
}
