.subscribe {
	padding: 15px;
	background:#fff;
}

#mc_embed_signup {
	clear:left; 
	font:14px Helvetica,Arial,sans-serif;
}

#mce-EMAIL {
	display: inline; 
	width: 30%; 
	margin-right: 0;
	padding: 7px;
	border: 1px solid #aaa;
	border-right: 0;
	position: relative;
	top: -1px;
}

input.button {
	background: $primary;
	color: white;
	border: 0;
	padding: 4px 10px 6px 10px;
	font-size: 18px;
	border: 1px solid $primary;
	position: relative;
	left: -4px;
	border-bottom: 0;
}

.subscribe {
	position: relative;

	.fa-times {
		background-color: inherit;
		color: inherit;
		cursor: pointer;
		position: absolute;
		top: 3px;
		right: 3px;
	}
}