@mixin disable-sticky-footer() {
  .mobile {
      width: 100%;
  }
  .sticky-header {
  	position: static;
  }
  .main-content {
	  padding-top: 0;
	}
  .highlight pre code {
    font-size: 80%;
  }
}
