.midterm {
  background-color: $primary;
  padding: 7px 20px;
  margin: 25px 0;

  h3, p {
    color: $primary3;
  }

  p {
    font-size: 1em;
    line-height: 1.5;
  }
}

.students-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;

  .student {
    margin-bottom: 10px;

    img {
      width: 75px;
      display: block;
    }
  }
}
