.no-bullets {
  list-style: none;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: #F4F8F8;
}

.text-white {
  color: white;
}

.bg-dark {
  background-color: $bg1;
}

.spin-360:hover {
  transform: rotate(360deg);
}

.circle {
  border-radius: 100%;
}

.disabled {
  color: #aaa;
}

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}