<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      {% if page.title %}
        {{ page.title }} -
      {% endif %}
      {{ site.name }} - {{ site.author }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ page.keywords }}">
    {% feed_meta %}
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta property="og:description" content="{{ page.description }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}">
      <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta property="og:title" content="{{ page.title }} - {{ site.name }}" />
    <meta property="og:url" content="http://thejsguy.com{{ page.url }}" />
    <meta property="og:image" content="http://www.gravatar.com/avatar/1c31a96c0a474a6795637081bde42acc.png?s=200" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header class="sticky-header">
  <div style="padding: 15px;">
    <h1>
      <a href="/" title="{{ site.name}}" class="logo">The JS Guy</a>
    </h1>
  </div>
</header>
{% include navigation.html %}
<div class="pure-g main-content">
  <div class="pure-u-3-4 l-box mobile content">
    {{ content }}
  </div>
  <div class="pure-u-1-4 l-box sidebar mobile">
    <h2><a href="/">{{ site.author }}</a></h2>
    <a href="/">
      <img src="http://www.gravatar.com/avatar/1c31a96c0a474a6795637081bde42acc.png?s=200" alt="David Tang" class="avatar">
    </a>
    <p>{{ site.bio }}</p>
    <ul class="social">
      <li>
        <a href="https://twitter.com/skaterdav85" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
      </li>
      <li>
        <a href="https://github.com/skaterdav85" target="_blank"><i class="fa fa-github-alt fa-lg"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/dtang85/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
      </li>
      <li>
        <a href="/feed.xml" target="_blank"><i class="fa fa-rss fa-lg"></i></a>
      </li>
    </ul>
    <h3 class="block-title">Other Posts</h3>
    {% include other-posts.html %}
    {% include google-ads.html %}
  </div>
</div>

{% include google-analytics.html %}

</body>
</html>
