<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% if page.title %}
    {{page.title}} -
    {% endif %}
    {{site.author}} - {{site.description}}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{page.keywords}}">
  {% feed_meta %}
  {% if page.description %}
  <meta name="description" content="{{page.description}}">
  <meta property="og:description" content="{{page.description}}">
  {% else %}
  <meta name="description" content="{{site.description}}">
  <meta property="og:description" content="{{site.description}}">
  {% endif %}
  <meta property="og:title" content="{% if page.title %}{{page.title}} - {% endif %}{{site.title}}">
  <meta property="og:url" content="http://davidtang.io{{page.url}}">
  <meta property="og:image" content="https://davidtang.io/images/cards/{{page.image}}">
  {% if page.card_style %}
  <meta name="twitter:card" content="{{page.card_style}}">
  {% else %}
  <meta name="twitter:card" content="summary_large_image">
  {% endif %}
  <meta name="twitter:site" content="@iamdtang">
  <meta name="twitter:title" content="{% if page.title %}{{page.title}} - {% endif %}{{site.title}}">
  <meta name="twitter:description" content="{{page.description}}">
  <meta name="twitter:image" content="https://davidtang.io/images/cards/{{page.twitter_image}}">
  <meta name="twitter:image:alt" content="{{page.twitter_image_alt}}">
  <script defer src="/dist/svelte-bundle.js?{{site.time | date: '%s%N'}}"></script>
  <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="{{"/style.css" | prepend: site.baseurl}}?{{site.time | date: '%s%N'}}" rel="stylesheet">
  <link href="/dist/svelte-bundle.css?{{site.time | date: '%s%N'}}" rel="stylesheet">
</head>

<body>
  <header class="bg-dark">
    <div class="flex justify-between">
      <div class="p-0 pt-1 pl-1">
        <h1 class="p-0 m-0">
          <a href="/" title="{{site.title}}" class="logo text-white">{{site.author}}</a>
        </h1>
      </div>
      <div>
        <input class="burger-check" id="burger-check" type="checkbox">
        <label for="burger-check" class="burger"></label>
        <nav class="navigation">
          <ul style="margin-bottom: 5px;">
            <li><a class="text-white" href="/">Blog</a></li>
            <li><a class="text-white" href="/publications">Publications</a></li>
            <li><a class="text-white" href="/teaching">Teaching</a></li>
            <li><a class="text-white" href="/about">About</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div>
      <p class="tagline m-0 text-white p-0 pb-1 pl-1" style="line-height: 1.3;">
        {{site.description}}
      </p>
    </div>
  </header>
  <div class="pure-g">
    <div class="pure-u-3-4 p-1 mobile">
      {{content}}
    </div>
    <div class="pure-u-1-4 p-1 sidebar mobile">
      <div id="autocomplete-container"></div>
      <div class="text-center mb-2">
        <a href="/">
          <img src="https://www.gravatar.com/avatar/1c31a96c0a474a6795637081bde42acc.png?s=500" alt="David Tang"
            class="circle avatar">
        </a>
      </div>
      <div class="text-center mb-2">
        <a href="https://www.codementor.io/@davidtang?refer=badge" target="_blank">
          <img src="https://www.codementor.io/m-badges/davidtang/book-session.svg" alt="Codementor badge">
        </a>
      </div>
      <ul class="no-bullets p-0 flex justify-center flex-wrap m-auto">
        <li class="ml-1 mr-1 mb-1">
          <a href="https://twitter.com/iamdtang" target="_blank"
            class="bg-primary text-center circle social-icon spin-360">
            <i class="fa fa-twitter fa-lg"></i>
          </a>
        </li>
        <li class="ml-1 mr-1 mb-1">
          <a href="https://www.linkedin.com/in/iamdtang/" target="_blank"
            class="bg-primary text-center circle social-icon spin-360">
            <i class="fa fa-linkedin fa-lg"></i>
          </a>
        </li>
        <li class="ml-1 mr-1 mb-1">
          <a href="https://github.com/skaterdav85" target="_blank"
            class="bg-primary text-center circle social-icon spin-360">
            <i class="fa fa-github-alt fa-lg"></i>
          </a>
        </li>
        <li class="ml-1 mr-1 mb-1">
          <a href="/feed.xml" target="_blank" class="bg-primary text-center circle social-icon spin-360">
            <i class="fa fa-rss fa-lg"></i>
          </a>
        </li>
      </ul>
      {% if page.show_students %}
      <div id="students-container"></div>
      <script>
        var DAVID = {
          course: "{{page.course}}",
          year: "{{page.year}}"
        };
      </script>
      {% else %}
      {% include other-posts.html %}
      {% include nav-subscribe.html %}
      {% endif %}
      <br>
      {% include google-adsense.html %}
    </div>
  </div>
  {% include google-analytics.html %}
</body>

</html>