---
layout: default
---
<h1>{{page.title}}</h1>
{% if page.updated %}
  <p class="meta">
    {{page.updated | date: "%B %e, %Y"}}
  </p>
{% else %}
  <p class="meta">
    {{page.date | date: "%B %e, %Y"}}
  </p>
{% endif %}

{% unless page.categories == empty %}
<ul class="categories">
  {% assign categories_list = page.categories %}
  {% for category in categories_list %}
    <li>
      {{category}}
    </li>
  {% endfor %}
</ul>
{% endunless %}

<div class="post">
  {{content}}
  {% include footer-subscribe.html %}
  <p>
    <em>
      Disclaimer: Any viewpoints and opinions expressed in this article are those of David Tang and do not reflect those of
      my employer or any of my colleagues.
    </em>
  </p>
</div>

{% include disqus.html %}
