---
layout: default
---
<h1>{{page.title}}</h1>
<p class="meta">
  Last reviewed on 
  {% if page.last_modified_at %}
    {{page.last_modified_at | date: "%B %e, %Y"}}
  {% else %}
    {{page.date | date: "%B %e, %Y"}}
  {% endif %}
</p>

{% unless page.categories == empty %}
  <ul class="flex no-bullets p-0">
    {% assign categories_list = page.categories %}
    {% for category in categories_list %}
      <li class="pl-1 pr-1 mr-1 text-white bg-primary">
        {{category}}
      </li>
    {% endfor %}
  </ul>
{% endunless %}

<div>
  {{content}}
  <p>
    <em>
      Disclaimer: Any viewpoints and opinions expressed in this article are those of David Tang and do not reflect those of
      my employer or any of my colleagues.
    </em>
  </p>
</div>
