---
layout: default
---
<h1>{{page.title}}</h1>
<p class="meta">
  Last reviewed on 
  {% if page.updated %}
    {{page.updated | date: "%B %e, %Y"}}
  {% else %}
    {{page.date | date: "%B %e, %Y"}}
  {% endif %}
</p>

{% unless page.categories == empty %}
<ul class="categories">
  {% assign categories_list = page.categories %}
  {% for category in categories_list %}
    <li>
      {{category}}
    </li>
  {% endfor %}
</ul>
{% endunless %}

<div class="post">
  {{content}}
  {% include footer-subscribe.html %}
  <p>
    <em>
      Disclaimer: Any viewpoints and opinions expressed in this article are those of David Tang and do not reflect those of
      my employer or any of my colleagues.
    </em>
  </p>
</div>

{% include disqus.html %}
